<table class="table table-bordered">
  <thead class="thead-default">
    <tr>
      <th *ngFor="let column of columns">{{column.heading}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let business of businesses | paginate:{from:pager.from,to:pager.to}">
      <td>{{business.name}}</td>
      <td>{{business.address}}</td>
      <td>{{business.city}}</td>
      <td>{{business.state}}</td>
      <td>{{business.zipcode}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">
        <pager [totalItems]="businesses.length" #pager></pager>
        <div class="loading" *ngIf="loading">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </th>
    </tr>
  </tfoot>
</table>