<div class="row" [class.hide]="totalItems == 0">
  <div class="col-5">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="isFirstPage">
        <a class="page-link" (click)="prevPage()" title="Page {{prevPageNo}}">
          <i class="fa fa-chevron-left"></i>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of displayablePages" [class.active]="page.active"
          (click)="goToPage(page.page)" title="Page {{page.page + 1}}">
        <a class="page-link">
          <span *ngIf="page.disabled">...</span>
          <span *ngIf="!page.disabled">{{page.page + 1}}</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="isLastPage">
        <a class="page-link" (click)="nextPage()" title="Page {{nextPageNo}}">
          <i class="fa fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-3">
    <select class="custom-select" [(ngModel)]="pageSize" (ngModelChange)="calculateDisplayablePages()">
      <option *ngFor="let ps of pageSizes" [value]="ps">{{ps}}</option>
    </select>
    <label>Items per page</label>
  </div>
  <div class="col-4">
    <div class="float-right">
      Showing {{from + 1}}-{{to}} of {{totalItems}} items
    </div>
  </div>
</div>
